<!DOCTYPE html>
<html>

    <head>
        <title>Using Handlebar - Templete Rendering!!! ({{pageTitle}})</title> 
    </head>
    <body>
        {{> header}}
        <h3>Template Rendering</h3>
        <p> Using Template Rendering - Will Make It Dynamic!!</p>
    </body>

    {{> footer}}
</html>