<!DOCTYPE html>
<html>

    <head>
        <title>{{pageTitle}}</title> 
    </head>
    <body>
        {{> header}}
        <h3>User Details</h3>
        <h5>{{name}}</h5>
        <h5>{{age}}</h5>
    </body>
    {{> footer}}
</html>