
<!DOCTYPE html>
<html>

    <head>
        <title>{{ pageTitle }}</title>
    </head>
    <body>

        {{> header}}

        <h3>Details:-</h3>
        <h5>{{baklolDesc}}</h5>

        {{> footer}}
    </body>

</html>