<!DOCTYPE html>
<html>
    <head>
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <h3>Project List:</h3>
        <ul>
            <li>{{projectName}}</li>
        </ul>
        {{> footer}}
    </body>
</html>